In [1]:
import pandas as pd

In [2]:
# Load df from json
df = pd.read_json('./phones_final.json')

In [9]:
# Define a function to extract the brand
def extract_brand(name):
    if "apple" in name.lower():
        return "Apple"
    elif "samsung" in name.lower():
        return "Samsung"
    elif "motorola" in name.lower():
        return "Motorola"
    elif "nokia" in name.lower():
        return "Nokia"
    elif "kyocera" in name.lower():
        return "Kyocera"
    elif "google" in name.lower():
        return "Google"
    elif "tcl" in name.lower():
        return "TCL"
    elif "sonim" in name.lower():
        return "Sonim"

In [10]:
df['brand'] = df['name'].apply(extract_brand)

In [16]:
df.to_json('./phones_final.json', orient='records')

Empty DataFrame
Columns: [name, colors, images, depth, weight, width, height, battery, camera, storage, operating_system, url, price, brand]
Index: []